<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/scss/main.css">
    <link rel="stylesheet" href="/static/scss/skin.css">

	<link rel="stylesheet" href="/static/scss/custom.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
</head>

<body id="wrapper">

   <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+91 952 698 9237</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">info@carrer.in</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                    <a class="navbar-brand" href="#">
                        <h1>career</h1><span>Better Opportunities</span></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                       
                       <!-- <li><a href="#about">Features</a></li> -->
                       
                    <!--    <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="faq.html">FAQ</a></li>  -->
                      
                        
                        <li><a href="../../">Sign out</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <!--/.nav-ends -->
    </header>

    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Online Exam Portal</h2>
            </div>
        </div>
    </section>

<br><br>

<form >	
	 <textarea id="textarea1" rows="2" cols="70" class="txt"></textarea> 
		<label id="opt1.1" >		
		<input type="radio" name="option1" value="option1" id="option1.1">
		 </label><br>

		<label id="opt1.2">
		<input type="radio" name="option1" value="option2" id="option1.2">
		</label><br>

		<label id="opt1.3">
  		<input type="radio" name="option1" value="option3" id="option1.3">
		</label><br>

		<label id="opt1.4">
		<input type="radio" name="option1" value="option4" id="option1.4">
		</label><br>
	

		<textarea id="textarea2" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt2.1">
		<input type="radio" name="option2" value="option1" id="option2.1"> 
		</label><br>		

		<label id="opt2.2">
 		 <input type="radio" name="option2" value="option2" id="option2.2"> 
		</label><br>
		
		<label id="opt2.3">
  		<input type="radio" name="option2" value="option3" id="option2.3">
		</label> <br>

		<label id="opt2.4">
		<input type="radio" name="option2" value="option4" id="option2.4"> 	
		</label><br>	

		
		<textarea id="textarea3" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt3.1">
		<input type="radio" name="option3" value="option1" id="option3.1"> 
		</label><br>
		
		<label id="opt3.2">
 		 <input type="radio" name="option3" value="option2" id="option3.2"> 
		</label><br>

		<label id="opt3.3">
  		<input type="radio" name="option3" value="option3" id="option3.3"> 
		</label><br>

		<label id="opt3.4">
		<input type="radio" name="option3" value="option4" id="option3.4"> 
		</label><br>	

		<textarea id="textarea4" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt4.1">
		<input type="radio" name="option4" value="option1" id="option4.1">
		</label><br>

		<label id="opt4.2"> 		
		 <input type="radio" name="option4" value="option2" id="option4.2">
		</label><br>


		<label id="opt4.3"> 
  		<input type="radio" name="option4" value="option3" id="option4.3">
		</label><br>
			
		<label id="opt4.4"> 
		<input type="radio" name="option4" value="option4" id="option4.4"> 
		</label><br>



		<textarea id="textarea5" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt5.1"> 
		<input type="radio" name="option5" value="option1" id="option5.1"> 
		</label><br>

		<label id="opt5.2"> 
 		 <input type="radio" name="option5" value="option2" id="option5.2">
		</label><br>
 

		<label id="opt5.3"> 
  		<input type="radio" name="option5" value="option3" id="option5.3"> 
		</label><br>
		
		<label id="opt5.4"> 
		<input type="radio" name="option5" value="option4" id="option5.4"> 
		</label><br>
	

		<textarea id="textarea6" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt6.1">
		<input type="radio" name="option6" value="option1" id="option6.1"> 
		</label><br>


		<label id="opt6.2">
 		 <input type="radio" name="option6" value="option2" id="option6.2"> 
		</label><br>
		
		<label id="opt6.3">
  		<input type="radio" name="option6" value="option3" id="option6.3">
		</label><br> 

		<label id="opt6.4">
		<input type="radio" name="option6" value="option4" id="option6.4"> 	
		</label><br> 

		
		<textarea id="textarea7" rows="2" cols="70" class="txt"></textarea><br>

 		<label id="opt7.1">
		<input type="radio" name="option7" value="option1" id="option7.1"> 
		</label><br>
		
		<label id="opt7.2">
		 <input type="radio" name="option7" value="option2" id="option7.2">
		</label><br>

 		<label id="opt7.3">
  		<input type="radio" name="option7" value="option3" id="option7.3">
		</label><br>

		<label id="opt7.4"> 		
		<input type="radio" name="option7" value="option4" id="option7.4"> 	
		</label><br>


		<textarea id="textarea8" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt8.1">
		<input type="radio" name="option8" value="option1" id="option8.1">
		</label><br>

		<label id="opt8.2">
 		 <input type="radio" name="option8" value="option2" id="option8.2"> 
		</label><br>

		<label id="opt8.3">
  		<input type="radio" name="option8" value="option3" id="option8.3"> 
		</label><br>

		<label id="opt8.4">
		<input type="radio" name="option8" value="option4" id="option8.4"> 
		</label><br>



		<textarea id="textarea9" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt9.1">
		<input type="radio" name="option9" value="option1" id="option9.1"> 
		</label><br>

		<label id="opt9.2">
 		 <input type="radio" name="option9" value="option2" id="option9.2"> 
		</label><br>

		<label id="opt9.3">
  		<input type="radio" name="option9" value="option3" id="option9.3"> 
		</label><br>

		<label id="opt9.4">
		<input type="radio" name="option9" value="option4" id="option9.4">
		</label><br>


		<textarea id="textarea10" rows="2" cols="70" class="txt"></textarea><br>

		<label id="opt10.1">
		<input type="radio" name="option10" value="option1" id="option10.1"> 
		</label><br>

		<label id="opt10.2">
 		 <input type="radio" name="option10" value="option2" id="option10.2"> 
		</label><br>

		<label id="opt10.3">
  		<input type="radio" name="option10" value="option3" id="option10.3">
		</label><br>

		<label id="opt10.4">
		<input type="radio" name="option10" value="option4" id="option10.4"> 
		</label><br>

		
		<input type="submit" name="btn_submit"  id="btn_submit" value="SUBMIT ANSWER" style="background-color:rgb(60, 179, 70)"  class="submit button"><br>

</form>



<section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">One Team Solutions</a> designed by <a href="#">Anu George</a>
                </div>
            </div>
        </div>
    </section>
    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">
                <div id="tootlbar_colors">
                    <button class="color" style="background-color:#1abac8;" onclick="mytheme(0)"></button>
                    <button class="color" style="background-color:#ff8a00;" onclick="mytheme(1)"> </button>
                    <button class="color" style="background-color:#b4de50;" onclick="mytheme(2)"> </button>
                    <button class="color" style="background-color:#e54e53;" onclick="mytheme(3)"> </button>
                    <button class="color" style="background-color:#1abc9c;" onclick="mytheme(4)"> </button>
                    <button class="color" style="background-color:#159eee;" onclick="mytheme(5)"> </button>
                </div>
            </div>

        </div>
        <a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>
    </div>


<script src="/static/js/script/index_exam.js"></script>
</body>

</html>




